.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 100px;
}

.message {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 3px;
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

.leftMessage {
  background-color: rgb(33, 33, 174);
  align-self: flex-start;
}

.rightMessage {
  background-color: rebeccapurple;
  align-self: flex-end;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.submitArea {
  width: min-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.timestamp {
  opacity: 0.6;
  font-size: 0.7rem;
}